This code combine all columns from the large ecommerce dataset, and save into a new csv file.

In [ ]:
#If opening in colab run this cell
!git clone https://github.com/jason2003120/DS_FinalProject.git
%cd DS_FinalProject/

In [1]:
# Trick to display plots inline with the rest of your notebook.
%matplotlib inline
import pandas as pd

In [2]:
########################################################################
# Load large dataset
########################################################################

# Define the base path to the 'large' directory containing the CSV files
base_path = './data/large/'  # Adjust this path as necessary
# Load each CSV file into a separate dataframe
customers_df = pd.read_csv(f'{base_path}CUSTOMERS.csv')
geo_location_df = pd.read_csv(f'{base_path}GEO_LOCATION.csv')
order_items_df = pd.read_csv(f'{base_path}ORDER_ITEMS.csv')
order_payments_df = pd.read_csv(f'{base_path}ORDER_PAYMENTS.csv')
order_review_ratings_df = pd.read_csv(f'{base_path}ORDER_REVIEW_RATINGS.csv')
orders_df = pd.read_csv(f'{base_path}ORDERS.csv')
products_df = pd.read_csv(f'{base_path}PRODUCTS.csv')

sellers_df = pd.read_csv(f'{base_path}SELLERS.csv')

# Optionally, print the first few rows of each dataframe to verify successful loading
print(customers_df.head())
print(geo_location_df.head())
print(order_items_df.head())
print(order_payments_df.head())
print(order_review_ratings_df.head())
print(orders_df.head())
print(products_df.head())
print(sellers_df.head())

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix customer_city  customer_state
0                     14409      Adilabad  Andhra Pradesh
1                      9790         Adoni  Andhra Pradesh
2                      1151  Akkarampalle  Andhra Pradesh
3                      8775   Akkayapalle  Andhra Pradesh
4                     13056         Alwal  Andhra Pradesh
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1041       -23.544392       -46.639499
3                         1035       -23.541578       -46.641607
4                         1012       -23.547762       -46.635361

  geolocation_city geolocation_state
0     Akkarampalle    Andhra Pradesh
1     Akkarampalle    Andhra Pradesh
2     Akkarampalle    Andhra Pradesh
3     Akkarampalle    Andhra Pradesh
4     Akkarampalle    Andhra Pradesh
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

  shipping_limit_date   price  freight_value
0      9/19/2017 9:45   58.90          13.29
1      5/3/2017 11:05  239.90          19.93
2     1/18/2018 14:48  199.00          17.87
3     8/15/2018 10:10   12.99          12.79
4     2/13/2017 13:57  199.90          18.14
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_creation_date review_answer_timestamp
0             4       1/18/2018 0:00         1/18/2018 21:46
1             5       3/10/2018 0:00          3/11/2018 3:05
2             5       2/17/2018 0:00         2/18/2018 14:36
3             5       4/21/2017 0:00         4/21/2017 22:02
4             5        3/1/2018 0:00          3/2/2018 10:26
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp order_approved_at  \
0    delivered          10/2/2017 10:56   10/2/2017 11:07
1    delivered          7/24/2018 20:41    7/26/2018 3:24
2    delivered            8/8/2018 8:38     8/8/2018 8:55
3    delivered         11/18/2017 19:28  11/18/2017 19:45
4    delivered          2/13/2018 21:18   2/13/2018 22:20

  order_delivered_carrier_date order_delivered_customer_date  \
0              10/4/2017 19:55              10/10/2017 21:25
1              7/26/2018 14:31                8/7/2018 15:27
2               8/8/2018 13:50               8/17/2018 18:06
3             11/22/2017 13:39                12/2/2017 0:28
4              2/14/2018 19:46               2/16/2018 18:17

  order_estimated_delivery_date
0               10/18/2017 0:00
1                8/13/2018 0:00
2                 9/4/2018 0:00
3               12/15/2017 0:00
4                2/26/2018 0:00
                         product_id product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             Perfumery
1  3aa071139cb16b67ca9e5dea641aaa2f                   Art
2  96bd76ec8810374ed1b65e291975717f        Sports_Leisure
3  cef67bcfe19066a932b7673e239eb23d                  Baby
4  9dc1a7de274444849c219cff195d0b71            Housewares

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                   40                         287                   1
1                   44                         276                   1
2                   46                         250                   1
3                   27                         261                   1
4                   37                         402                   4

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0               225                 16                 10                14
1              1000                 30                 18                20
2               154                 18                  9                15
3               371                 26                  4                26
4               625                 20                 17                13
                          seller_id  seller_zip_code_prefix   seller_city  \
0  3442f8959a84dea7ee197c632cb2df15                   13023         Alwal
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13023         Alwal
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031     Badepalle
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195  Akkarampalle
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914       Koratla

     seller_state
0  Andhra Pradesh
1  Andhra Pradesh
2  Andhra Pradesh
3  Andhra Pradesh
4  Andhra Pradesh

In [3]:
# Merge orders with customer details
orders_customers_df = pd.merge(orders_df, customers_df, on='customer_id', how='left')

# Merge order items to the orders and customers data
orders_customers_items_df = pd.merge(orders_customers_df, order_items_df, on='order_id', how='left')

# Merge product details
full_df = pd.merge(orders_customers_items_df, products_df, on='product_id', how='left')

# Merge payment details
full_df = pd.merge(full_df, order_payments_df, on='order_id', how='left')

# Merge review ratings
full_df = pd.merge(full_df, order_review_ratings_df, on='order_id', how='left')

# Merge seller details
full_df = pd.merge(full_df, sellers_df, on='seller_id', how='left')

# Example: Enriching customer city and state (assuming customer and seller share the same zip prefix)
# This is a simplification and might not directly apply if your dataset requires precise geo mapping.
full_df = pd.merge(full_df, geo_location_df, left_on='customer_zip_code_prefix', right_on='geolocation_zip_code_prefix', how='left', suffixes=('', '_geo'))
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115707 entries, 0 to 115706
Data columns (total 42 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115707 non-null  object
 1   customer_id                    115707 non-null  object
 2   order_status                   115707 non-null  object
 3   order_purchase_timestamp       115707 non-null  object
 4   order_approved_at              115707 non-null  object
 5   order_delivered_carrier_date   115707 non-null  object
 6   order_delivered_customer_date  115707 non-null  object
 7   order_estimated_delivery_date  115707 non-null  object
 8   customer_unique_id             115707 non-null  object
 9   customer_zip_code_prefix       115707 non-null  int64
 10  customer_city                  115707 non-null  object
 11  customer_state                 115707 non-null  object
 12  order_item_id                  115707 non-null  int64
 13  product_id                     115707 non-null  object
 14  seller_id                      115707 non-null  object
 15  shipping_limit_date            115707 non-null  object
 16  price                          115707 non-null  float64
 17  freight_value                  115707 non-null  float64
 18  product_category_name          114046 non-null  object
 19  product_name_lenght            114046 non-null  float64
 20  product_description_lenght     114046 non-null  float64
 21  product_photos_qty             114046 non-null  float64
 22  product_weight_g               114046 non-null  float64
 23  product_length_cm              114046 non-null  float64
 24  product_height_cm              114046 non-null  float64
 25  product_width_cm               114046 non-null  float64
 26  payment_sequential             115704 non-null  float64
 27  payment_type                   115704 non-null  object
 28  payment_installments           115704 non-null  float64
 29  payment_value                  115704 non-null  float64
 30  review_id                      115707 non-null  object
 31  review_score                   115707 non-null  int64
 32  review_creation_date           115707 non-null  object
 33  review_answer_timestamp        115707 non-null  object
 34  seller_zip_code_prefix         115707 non-null  int64
 35  seller_city                    114121 non-null  object
 36  seller_state                   114121 non-null  object
 37  geolocation_zip_code_prefix    115404 non-null  float64
 38  geolocation_lat                115404 non-null  float64
 39  geolocation_lng                115404 non-null  float64
 40  geolocation_city               115404 non-null  object
 41  geolocation_state              115404 non-null  object
dtypes: float64(15), int64(4), object(23)
memory usage: 38.0+ MB

In [6]:
full_df.describe()

,customer_zip_code_prefix,order_item_id,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,payment_sequential,payment_installments,payment_value,review_score,seller_zip_code_prefix,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng
count,115707.000000,115707.000000,115707.000000,115707.000000,114046.000000,114046.000000,114046.000000,114046.000000,114046.000000,114046.000000,114046.000000,115704.000000,115704.000000,115704.000000,115707.000000,115707.000000,115404.000000,115404.000000,115404.000000
mean,35081.100875,1.197067,119.911800,19.982046,48.801054,784.822317,2.206338,2108.507839,30.289927,16.605554,23.105396,1.091285,2.941039,171.815461,4.065130,24561.641595,35005.456275,-21.241334,-46.201453
std,29855.443121,0.701262,182.682279,15.719326,10.016649,650.602107,1.718005,3768.605007,16.158640,13.440159,11.740799,0.686784,2.776427,265.660487,1.359598,27692.583121,29842.171213,5.567641,4.048836
min,1003.000000,1.000000,0.850000,0.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1.000000,0.000000,0.000000,1.000000,1001.000000,1003.000000,-36.605374,-72.666706
25%,11310.000000,1.000000,39.900000,13.080000,42.000000,345.000000,1.000000,300.000000,18.000000,8.000000,15.000000,1.000000,1.000000,60.850000,4.000000,6429.000000,11095.000000,-23.590774,-48.110471
50%,24320.000000,1.000000,74.900000,16.280000,52.000000,600.000000,1.000000,700.000000,25.000000,13.000000,20.000000,1.000000,2.000000,108.110000,5.000000,13660.000000,24240.000000,-22.929319,-46.632180
75%,58812.500000,1.000000,132.900000,21.160000,57.000000,983.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,1.000000,4.000000,188.940000,5.000000,28805.000000,58390.000000,-20.198222,-43.632610
max,99980.000000,21.000000,6735.000000,409.680000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,26.000000,24.000000,13664.080000,5.000000,99730.000000,99980.000000,42.184003,-8.577855

In [5]:
full_df.to_csv('./data/dataset04052024.csv', index=False)

In [9]:
from datetime import datetime
# Get the current date
current_date = datetime.now()

# Format the date as mmddyy
date_str = current_date.strftime('%m%d%y')

# Create the filename with the current date
filename = f'./data/dataset_{date_str}.csv'

# Save the DataFrame to a CSV file with the dynamically generated name
full_df.to_csv(filename, index=False)